html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 400px;
  height: auto;
  margin: auto;
}

.ng-invalid.ng-touched .invalid-feedback {
  display: block;
}

@media only screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
  }
}
