<div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-lg-4">
            <h2>eatme!</h2>
        </div>
        <div class="col-lg-4">
            <p> {{ "rights" | translate }} <i class="bi bi-c-circle"></i> Tomán Attila | 2024</p>
        </div>
        <div class="col-lg-4">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
